/* Custom styles not covered by Tailwind can go here */
/* For example, specific Leaflet map overrides */

.leaflet-popup-content-wrapper {
    border-radius: 0.5rem;
    /* Tailwind rounded-lg */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    /* Tailwind shadow-lg */
    padding: 0;
    overflow: hidden;
}

.leaflet-popup-content {
    margin: 0;
    width: 100% !important;
}

.leaflet-container {
    font-family: 'Inter', sans-serif;
}